# Dependencies
node_modules/
**/node_modules/

# Build output
dist/
build/
**/dist/
**/build/

# Env files
.env
.env.local
apps/backend/.env
apps/frontend/.env

# Prisma
apps/backend/prisma/*.db

# Logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# OS
.DS_Store
Thumbs.db

# Testing
coverage/

# Docker
docker/**/*.env
